body {
    background-color: #F6D55C;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: #173f5f;
}

ul{
    list-style: none;
    padding-left: 0;
}

input{
    border: none;
    width: 100%;
    padding-left: 9px;
    border-radius: 4px;
    color: #173f5f;
}

li{
    padding-top: 14px;
}
.col-4{
    padding: 0px 33px;
}

h1{
    font-family: 'Fredoka One', cursive;
}

h2{
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid #173f5f;
    font-weight: 800;
    color: #ed553b;
}

button{
    width: 35%;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    height: 35px;
    font-size: 16px;
    color:#173f5f;
    float: right;
}

.form-group{
    padding-top: 3%;
}

.burgerHead{
    background-color: #20669b;
    display: block;
    margin: 0 auto;
}

.title{
    font-size: 40px;
    font-weight: 800;
    color: #e4d9c0;
    padding-bottom: 3%;
}

.burgerImg{
    width: 10%;
    display: block;
    margin: 0 auto;
}


